* {
	box-sizing: border-box;
	margin: 0;
}
h1{
	font-weight: bold;
	font-size: 2em;
}
.icono{
	font-size: 25px;
	margin-top: 83%;
	position: absolute;
	top: 0;
}

.form-control:focus {
   	outline: -webkit-focus-ring-color auto 0px;
 	outline-style: none;
    box-shadow: none;
    border-color: lightgrey;
}
.checkbox{
	margin-top: 2%;
}
.check{
	margin-left:15%;
	top:0;
	margin-top: 12%;
}
.color2{
	color: #086A87;
	display: inline-block;
	margin-left: 5%;
}
.color{
	display: inline-block;
	font-weight: bold;
}
.two-fields {
  width:100%;
}
.two-fields .input-group {
  width:100%;
}
.two-fields input {
  width:50% !important;
}
.footer{
	color: #fff;
	font-size: 2em; 
    background-color: #086A87;
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0;
}