* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.logo {
	width: 100vw;
	height: 20vh;
	margin-top: 20%;
}
.fondo{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center;
}
.btn-danger,.btn-primary{
	padding: 7%;
	width: 65%;
}
.btn-danger{
	margin-right: 50%;
}
.botones{
	width: 100%;
	margin-top: 20%;
	bottom: 0;
	margin-bottom: 10%;
	position: absolute;
}
#embed{
	position: absolute;
}