* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
	overflow-y: hidden;
}
.logo {
	width: 50%;
	height: 20%;
	margin-top: 5%;
}
.fondo{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center;
}
.btn-danger,.btn-primary{
	padding: 2%;
	width: 60%;
}
.btn-danger{
	/*margin-right: 50%;*/
}
.botones{
	width: 100%;
	margin-top: 20%;
	bottom: 0;
	margin-bottom: 10%;
	position: absolute;
}
@media all and (max-width : 450px){
  .logo {
	width: 70%;
	height: 50%;
	margin-top: 30%;
}
.btn-danger{
	margin-right: 50%;
	padding: 5%;
}

.btn-primary{
	padding: 5%;
}