* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
 	/*overflow: hidden;*/
}
.logo {
	width: 50%;
	margin-top: 1%;
	position: absolute;
	left: 30%

}
#principal{
	position: relative;
	z-index: 100;
}
.iconos{
	position: absolute;
	width: 100vw;
	z-index: 100;	
}
.botones{
	position: absolute;
	bottom: 0;
	z-index: 100;
	color:blue;
}
#gift,#user{
	position: absolute;
	border: 1px solid gray;
    background-color: white;
    border-radius: 50%;
    padding: 3%;
    top: 20px;
    font-size: 140%;

}
#user{
	left: 10px;
}
#gift{
    right:10px;
}
.classMap{
	height: 100vh;
	width: 100vw;
}
.pickup,#ubicacion{
	color: #fff;
	font-size: 1.5em; 
    background-color: #086A87;
    width: 96vw;
    height: 10vh;
    padding: 2%;
    margin: 1% 2%;
    border-radius: 10px;
    text-align: center;
}
#ubicacion{
	background-color: #fff;
	color: #d73e2c; 
	word-wrap: break-word;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
}
.pickup{
	margin-bottom: 3%;
}
.form-control:focus {
   	outline: -webkit-focus-ring-color auto 0px;
  	outline-style: none;
 	box-shadow: none;
 	border-color: lightgrey;
}