* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
	font-weight: bold;
	font-size: 2em;
}
.icono{
	font-size: 25px;
	margin-top: 83%;
	position: absolute;
	top: 0;
}
.form-control:focus {
   	outline: -webkit-focus-ring-color auto 0px;
 	outline-style: none;
    box-shadow: none;
    border-color: lightgrey;
}
#input-grupo{
	position: absolute;
	top: 40%;
}
.aviso{
	margin-top: 5%;
	width: 100%;
}
#resendCode{
	margin-top:4%;
}
.footer{
	color: #fff;
	font-size: 2em; 
    background-color: #086A87;
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0;
}
.lab{
	margin-top: 10%;
	font-weight: bold;
	margin-left: 40%;
	position: absolute;
}
.codigo{
	margin-right: 3%;
}
#contenedorNumeroCel{
	display: inline-block;
}